*.iml
.gradle/
**/build/
build/
app/build/
local.properties
.idea/
.DS_Store
/captures
.externalNativeBuild
.cxx
*.keystore
*.jks
google-services.json
landingpage/node_modules/
landingpage/.next/
landingpage/out/
node_modules/
.next/
